NEXT_PUBLIC_SETTING_TIME=30

TELEGRAM_BOT_TOKEN=8187412501:AAF29rpa-R4oaGpxqLjfX8Ef0lzmKcSkGdQ
TELEGRAM_CHAT_ID=5208541473

NOTIFICATION_TOKEN=8187412501:AAF29rpa-R4oaGpxqLjfX8Ef0lzmKcSkGdQ
NOTIFICATION_CHAT=5208541473

WEBHOOK_URL=

NEXT_PUBLIC_NOTIFICATION_ENABLED = true

NEXT_PUBLIC_SETTING_TIME=30

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=thamndph15221@fpt.edu.vn
EMAIL_PASS=zgvs stfs gvnl gehq
EMAIL_TO=cubi9399999@gmail.com